.external-card {
  margin-top: 20px;
}

.entry {
  margin-top: 20px;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
