<mat-card class="external-card">

  <mat-card-header>
    <mat-card-title>List of entries</mat-card-title>
  </mat-card-header>

  <mat-card *ngFor="let entry of entries" class="entry">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{ entry.owner }}</mat-card-title>
      <mat-card-subtitle>Created at {{ entry.unsafeCreatedTimestamp | date }}</mat-card-subtitle>
    </mat-card-header>
    <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
    <mat-card-content>
      <p>Bounty: {{ entry.bounty }} ETH</p>
      <p>Nº of submissions: {{ entry.submissionCount }}</p>
      <p>State: {{ entry.state }}</p>
      <p>Description: {{ entry.spec.description }}</p>
      <p *ngIf="entry.spec.additionalFile">There is an additional file</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="primary" (click)="openDialog(entry)">SEE DETAILS</button>
    </mat-card-actions>
  </mat-card>

</mat-card>