<mat-card>
  <mat-card-header>Your account: {{ account }}</mat-card-header>
</mat-card>

<mat-card>
  <mat-card-header>New Bounty</mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input type="number" matInput id="bounty" placeholder="Bounty in ETH" (change)="setBounty($event)">
    </mat-form-field>
    <!--<mat-form-field class="address-field">
      <input type="text" matInput id="receiver" placeholder="Receiver Address" (change)="setReceiver($event)">
    </mat-form-field>-->
    <button mat-raised-button (click)="createBounty()">Create bounty</button>
  </mat-card-content>
</mat-card>